<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="br.com.mobapps.bills.features.export">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_export">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name="br.com.juarez.bills.features.export.ExportActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>

</manifest>